onnxruntime==1.9.0 --install-option="--no-cache-dir"
numpy==1.18.1      --install-option="--no-cache-dir"
scipy==1.4.1       --install-option="--no-cache-dir"
Pillow==7.1.2      --install-option="--no-cache-dir"
torchvision==0.8.1 --install-option="--no-cache-dir"
streamlit==1.0.0   --install-option="--no-cache-dir"


